body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav button {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

button:hover {
  background-color: red;
}

input {
  width: 48%;
  float: right;
  padding: 0px 0px;
  margin: 0px 0px;
  box-sizing: border-box;
}

.sidenav {
  display: none;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 120px;
  right: 0px;
  background: #999;
  overflow-x: hidden;
  padding: 0px 7px;
  color:white;
}

.sidenav button {
  font-size: 16px; 
  width:100%;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #666;
  font-family: inherit; 
  margin: 0; 
}

.sidenav button:hover {
  background-color: red;
}

.textpage {
  margin: 30px;
}

img {
  border-style: solid;
  margin-bottom: 100px;
}

h2 {
  line-height: 0px;
}
